name: AQI Hourly Feature Pipeline

on:
  schedule:
    - cron: '0 * * * *'   # Every hour (UTC)
  workflow_dispatch:

jobs:
  features:
    runs-on: ubuntu-latest

    env:
      MONGO_URI: ${{ secrets.MONGO_URI }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - run: |
          pip install pandas numpy requests pymongo certifi
          python scripts/extraction.py
          python scripts/features.py
          python scripts/mongodb_connect.py
